# Socrata Query Language (SoQL) Clauses and Functions
Auhtor: Mark Bauer

Table of Contents
=================

   1. Introduction
   2. Socrata Open Data
       * 2.1 Using Socrata Open Data API (SODA)
       * 2.2 Using Sodapy
       * 2.3 Socrata Query Language or "SoQL"
   3. Importing Libraries
   4. Retrieving Data Directly from Socrata Open Data API (SODA) 
   5. SoQL with Sodapy
       * 5.1 SoQL Clauses
       * 5.2 SoQL Function and Keyword Listing

# 1. Introduction  
This notebook demonstrates basic queries using SoQL, the Socrata Query Language.

# 2. Socrata Open Data

## 2.1 Socrata Open Data API (SODA)

More information can be found on the offical [Socrata Open Data API (SODA)](https://dev.socrata.com/) website. We use sodapy, a python client, to interact with the Socrata Open Data API.

There's a lot of great resources on the website, and I encourage you to read through the [API Docs](https://dev.socrata.com/docs/endpoints.html) to further your understanding.

![dev socrata](images/dev-socrata.png)

**Source**: https://dev.socrata.com/

## 2.2 Sodapy

Sodapy - a python client for the Socrata Open Data API.
Information about sodapy can be found in its offical docs on [GitHub](https://github.com/xmunoz/sodapy), as well as my notebook tutorial in this project here [sodapy-basics.ipynb](https://github.com/mebauer/sodapy-tutorial-nyc-open-data/blob/main/sodapy-basics.ipynb).


In order use sodapy, a **source domain** (i.e. the open data source you are trying to connect to) needs to be passed to the Socrata class. Additionally, if a user wants to query a specific dataset, then the **dataset identifier** (i.e. the dataset id on the given source domain) needs to be passed as well. Below, we identify NYC Open Data's source domain `data.cityofnewyork.us` and the dataset identifier for the NYC 311 data set `erm2-nwe9`. The screenshot is the homepage of the 311 data set from NYC Open Data.

![nyc-311-api-docs](images/nyc-311-api-docs.png)  

**Source**: https://dev.socrata.com/foundry/data.cityofnewyork.us/erm2-nwe9

## 2.3 Socrata Query Language or "SoQl"

![soql screenshot](images/soql-screenshot.png)

**Source**: https://dev.socrata.com/docs/queries/

# 3. Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
from sodapy import Socrata
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import seaborn as sns
import urllib.parse

In [2]:
## documention for installing watermark: https://github.com/rasbt/watermark
%reload_ext watermark
%watermark -t -d -v -p pandas,sodapy

Python implementation: CPython
Python version       : 3.8.13
IPython version      : 8.4.0

pandas: 1.4.3
sodapy: 2.1.1

# 4. Retrieving Data Directly from Socrata Open Data API (SODA)
Using the Socrata API by itself and not sodapy.

In [3]:
# Source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# Dataset id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'

# limit 20
limit = 20

url = 'https://{}/resource/{}.csv?$limit={}'.format(socrata_domain, socrata_dataset_identifier, limit)
print(url)

df = pd.read_csv(url)

print(df.shape)
df.head()

https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$limit=20
(20, 41)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,60932401,2024-04-21T01:51:11.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10031,568 WEST 149 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.828504,-73.947497,"\n, \n(40.82850418445052, -73.94749704707705)"
1,60928270,2024-04-21T01:51:03.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)"
2,60926120,2024-04-21T01:50:49.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11201,202 PLYMOUTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.703715,-73.985559,"\n, \n(40.70371461603337, -73.98555896144958)"
3,60929290,2024-04-21T01:50:44.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)"
4,60932380,2024-04-21T01:50:17.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10002,302 BROOME STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.718735,-73.992211,"\n, \n(40.71873459787113, -73.99221148140744)"

In [4]:
# preview columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      20 non-null     int64
 1   created_date                    20 non-null     object
 2   closed_date                     0 non-null      float64
 3   agency                          20 non-null     object
 4   agency_name                     20 non-null     object
 5   complaint_type                  20 non-null     object
 6   descriptor                      20 non-null     object
 7   location_type                   20 non-null     object
 8   incident_zip                    20 non-null     int64
 9   incident_address                20 non-null     object
 10  street_name                     20 non-null     object
 11  cross_street_1                  20 non-null     object
 12  cross_street_2                  20 non-null     object
 13  intersection_street_1           20 non-null     object
 14  intersection_street_2           20 non-null     object
 15  address_type                    20 non-null     object
 16  city                            19 non-null     object
 17  landmark                        19 non-null     object
 18  facility_type                   0 non-null      float64
 19  status                          20 non-null     object
 20  due_date                        0 non-null      float64
 21  resolution_description          0 non-null      float64
 22  resolution_action_updated_date  11 non-null     object
 23  community_board                 20 non-null     object
 24  bbl                             18 non-null     float64
 25  borough                         20 non-null     object
 26  x_coordinate_state_plane        20 non-null     int64
 27  y_coordinate_state_plane        20 non-null     int64
 28  open_data_channel_type          20 non-null     object
 29  park_facility_name              20 non-null     object
 30  park_borough                    20 non-null     object
 31  vehicle_type                    1 non-null      object
 32  taxi_company_borough            0 non-null      float64
 33  taxi_pick_up_location           0 non-null      float64
 34  bridge_highway_name             0 non-null      float64
 35  bridge_highway_direction        0 non-null      float64
 36  road_ramp                       0 non-null      float64
 37  bridge_highway_segment          0 non-null      float64
 38  latitude                        20 non-null     float64
 39  longitude                       20 non-null     float64
 40  location                        20 non-null     object
dtypes: float64(13), int64(4), object(24)
memory usage: 6.5+ KB

In [5]:
# where statements
year = '2020'
column = 'created_date'
limit = 20

url = 'https://data.cityofnewyork.us/resource/erm2-nwe9.csv?\
$where={}%20>=%20%27{}%27&$limit={}'.format(column, year, limit)
print(url)

df = pd.read_csv(url)

print(df.shape)
df.head()

https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$where=created_date%20>=%20%272020%27&$limit=20
(20, 41)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,60932401,2024-04-21T01:51:11.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10031,568 WEST 149 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.828504,-73.947497,"\n, \n(40.82850418445052, -73.94749704707705)"
1,60928270,2024-04-21T01:51:03.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)"
2,60926120,2024-04-21T01:50:49.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11201,202 PLYMOUTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.703715,-73.985559,"\n, \n(40.70371461603337, -73.98555896144958)"
3,60929290,2024-04-21T01:50:44.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)"
4,60932380,2024-04-21T01:50:17.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10002,302 BROOME STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.718735,-73.992211,"\n, \n(40.71873459787113, -73.99221148140744)"

In [6]:
# query parameters
url = 'https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$query=SELECT%20*%20LIMIT%2020'
print(url)

df = pd.read_csv(url)

print(df.shape)
df.head()

https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$query=SELECT%20*%20LIMIT%2020
(20, 47)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,bridge_highway_segment,latitude,longitude,location,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_7mpf_4k6g
0,60932401,2024-04-21T01:51:11.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10031,568 WEST 149 STREET,...,NaN,40.828504,-73.947497,"\n, \n(40.82850418445052, -73.94749704707705)",12428,37,4,23,19,19
1,60928270,2024-04-21T01:51:03.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)",14784,66,3,5,68,68
2,60926120,2024-04-21T01:50:49.000,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11201,202 PLYMOUTH STREET,...,NaN,40.703715,-73.985559,"\n, \n(40.70371461603337, -73.98555896144958)",16865,68,2,38,54,54
3,60929290,2024-04-21T01:50:44.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,...,NaN,40.742439,-73.872218,"\n, \n(40.742439043264866, -73.87221775214613)",14784,66,3,5,68,68
4,60932380,2024-04-21T01:50:17.000,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10002,302 BROOME STREET,...,NaN,40.718735,-73.992211,"\n, \n(40.71873459787113, -73.99221148140744)",11723,70,4,32,2,2

In [7]:
# query parameter as a string
query = """
    SELECT
        *
    WHERE
        created_date >= '2020'
        AND descriptor == 'Street Flooding (SJ)'
    LIMIT
        100
    """

safe_string = urllib.parse.quote_plus(query)
print(safe_string)

url = 'https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$query={}'.format(safe_string)
print('url:', url)

df = pd.read_csv(url)

print(df.shape)
df.head()

%0A++++SELECT%0A++++++++%2A%0A++++WHERE%0A++++++++created_date+%3E%3D+%272020%27%0A++++++++AND+descriptor+%3D%3D+%27Street+Flooding+%28SJ%29%27%0A++++LIMIT%0A++++++++100%0A++++
url: https://data.cityofnewyork.us/resource/erm2-nwe9.csv?$query=%0A++++SELECT%0A++++++++%2A%0A++++WHERE%0A++++++++created_date+%3E%3D+%272020%27%0A++++++++AND+descriptor+%3D%3D+%27Street+Flooding+%28SJ%29%27%0A++++LIMIT%0A++++++++100%0A++++
(100, 41)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,...,vehicle_type,taxi_company_borough,taxi_pick_up_location,bridge_highway_name,bridge_highway_direction,road_ramp,bridge_highway_segment,latitude,longitude,location
0,60929521,2024-04-20T15:32:00.000,NaN,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,11369,31-33 95 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.759697,-73.873614,"\n, \n(40.75969682793435, -73.87361408066782)"
1,60924082,2024-04-19T13:11:00.000,2024-04-19T14:50:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,10032,467 WEST 163 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.836226,-73.938666,"\n, \n(40.83622619308992, -73.9386659626889)"
2,60916417,2024-04-19T04:38:00.000,NaN,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,11412,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.699844,-73.761102,"\n, \n(40.69984449968903, -73.76110166693283)"
3,60905806,2024-04-18T17:20:00.000,2024-04-18T17:20:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,10032,467 WEST 163 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.836226,-73.938666,"\n, \n(40.83622619308992, -73.9386659626889)"
4,60908898,2024-04-18T17:05:00.000,2024-04-18T19:05:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,10032,467 WEST 163 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.836226,-73.938666,"\n, \n(40.83622619308992, -73.9386659626889)"

# 5. SoQL with Sodapy

### Note:  
`WARNING:root:Requests made without an app_token will be subject to strict throttling limits.`

Read more from the SODA documentation here: https://dev.socrata.com/docs/app-tokens.html

## 5.1 SoQL Clauses

In [8]:
# source domain for NYC Open Data on Socrata
socrata_domain = 'data.cityofnewyork.us'

# dataset id for NYC 311 on NYC Open Data on Socrata
socrata_dataset_identifier = 'erm2-nwe9'


# Socrata - The main class that interacts with the SODA API.
# We pass the source domain value of NYC Open data, the app token as 'None',
# and set the timeout parameter for '100 seconds'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select all columns, limit our records to 10

query = """
SELECT
    *    
LIMIT
    10
"""

# returned as JSON from API / converted to Python list of dictionaries by sodapy
results = client.get(
    socrata_dataset_identifier,
    query=query
)
# closing client
client.close()

# convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (10, 36)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,location_type,incident_zip,incident_address,street_name,...,park_borough,latitude,longitude,location,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_7mpf_4k6g
0,60932401,2024-04-21T01:51:11.000,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,10031,568 WEST 149 STREET,WEST 149 STREET,...,MANHATTAN,40.82850418445052,-73.94749704707705,"{'latitude': '40.82850418445052', 'longitude':...",12428,37,4,23,19,19
1,60928270,2024-04-21T01:51:03.000,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,CORONA AVENUE,...,QUEENS,40.742439043264866,-73.87221775214613,"{'latitude': '40.742439043264866', 'longitude'...",14784,66,3,5,68,68
2,60926120,2024-04-21T01:50:49.000,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11201,202 PLYMOUTH STREET,PLYMOUTH STREET,...,BROOKLYN,40.70371461603337,-73.98555896144958,"{'latitude': '40.70371461603337', 'longitude':...",16865,68,2,38,54,54
3,60929290,2024-04-21T01:50:44.000,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11373,92-02 CORONA AVENUE,CORONA AVENUE,...,QUEENS,40.742439043264866,-73.87221775214613,"{'latitude': '40.742439043264866', 'longitude'...",14784,66,3,5,68,68
4,60932380,2024-04-21T01:50:17.000,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10002,302 BROOME STREET,BROOME STREET,...,MANHATTAN,40.71873459787113,-73.99221148140744,"{'latitude': '40.71873459787113', 'longitude':...",11723,70,4,32,2,2

In [9]:
# examine available columns
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      10 non-null     object
 1   created_date                    10 non-null     object
 2   agency                          10 non-null     object
 3   agency_name                     10 non-null     object
 4   complaint_type                  10 non-null     object
 5   descriptor                      10 non-null     object
 6   location_type                   10 non-null     object
 7   incident_zip                    10 non-null     object
 8   incident_address                10 non-null     object
 9   street_name                     10 non-null     object
 10  cross_street_1                  10 non-null     object
 11  cross_street_2                  10 non-null     object
 12  intersection_street_1           10 non-null     object
 13  intersection_street_2           10 non-null     object
 14  address_type                    10 non-null     object
 15  city                            9 non-null      object
 16  landmark                        9 non-null      object
 17  status                          10 non-null     object
 18  resolution_action_updated_date  6 non-null      object
 19  community_board                 10 non-null     object
 20  bbl                             9 non-null      object
 21  borough                         10 non-null     object
 22  x_coordinate_state_plane        10 non-null     object
 23  y_coordinate_state_plane        10 non-null     object
 24  open_data_channel_type          10 non-null     object
 25  park_facility_name              10 non-null     object
 26  park_borough                    10 non-null     object
 27  latitude                        10 non-null     object
 28  longitude                       10 non-null     object
 29  location                        10 non-null     object
 30  :@computed_region_efsh_h5xi     10 non-null     object
 31  :@computed_region_f5dn_yrer     10 non-null     object
 32  :@computed_region_yeji_bk3q     10 non-null     object
 33  :@computed_region_92fq_4b7q     10 non-null     object
 34  :@computed_region_sbqj_enih     10 non-null     object
 35  :@computed_region_7mpf_4k6g     10 non-null     object
dtypes: object(36)
memory usage: 2.9+ KB

In [10]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select all columns, where the descriptor
# is Street Flooding (SJ), limit our records to 1,000

query = """
SELECT
    *
WHERE
    descriptor == 'Street Flooding (SJ)'
LIMIT
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 30)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,cross_street_1,...,park_facility_name,park_borough,latitude,longitude,location,closed_date,resolution_description,resolution_action_updated_date,intersection_street_1,intersection_street_2
0,60929521,2024-04-20T15:32:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11369,31-33 95 STREET,95 STREET,31 AVE,...,Unspecified,QUEENS,40.75969682793435,-73.87361408066782,"{'latitude': '40.75969682793435', 'longitude':...",NaN,NaN,NaN,NaN,NaN
1,60924082,2024-04-19T13:11:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-19T14:50:00.000,The Department of Environmental Protection ins...,2024-04-19T14:50:00.000,NaN,NaN
2,60916417,2024-04-19T04:38:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11412,NaN,NaN,NaN,...,Unspecified,QUEENS,40.69984449968903,-73.76110166693283,"{'latitude': '40.69984449968903', 'longitude':...",NaN,NaN,NaN,194 STREET,113 AVENUE
3,60905806,2024-04-18T17:20:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-18T17:20:00.000,The Department of Environmental Protection has...,2024-04-18T17:20:00.000,NaN,NaN
4,60908898,2024-04-18T17:05:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-18T19:05:00.000,The Department of Environmental Protection inv...,2024-04-18T19:05:00.000,NaN,NaN

In [11]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select all columns, where the descriptor
# is Street Flooding (SJ) and created_date is between 2011 and 2012, limit our records to 1,000

query = """
SELECT 
    * 
WHERE 
    created_date BETWEEN '2011' AND '2012'
    AND descriptor == 'Street Flooding (SJ)'
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('sanity check:')
print('min:', results_df.created_date.min())
print('max:', results_df.created_date.max())

print('\nshape of data: {}'.format(results_df.shape))
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

sanity check:
min: 2011-08-16T23:52:00.000
max: 2011-12-31T17:03:00.000

shape of data: (1000, 31)

,unique_key,created_date,closed_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,...,x_coordinate_state_plane,y_coordinate_state_plane,open_data_channel_type,park_facility_name,park_borough,latitude,longitude,location,intersection_street_1,intersection_street_2
0,22426149,2011-12-31T17:03:00.000,2012-01-02T08:50:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10460,1956 CROTONA PARKWAY,CROTONA PARKWAY,...,1015982,246199,UNKNOWN,Unspecified,BRONX,40.84237755161368,-73.88531510513788,"{'latitude': '40.84237755161368', 'longitude':...",NaN,NaN
1,22424342,2011-12-30T10:00:00.000,2011-12-31T09:20:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10024,NaN,NaN,...,991690,225337,UNKNOWN,Unspecified,MANHATTAN,40.78517106970749,-73.97313367344907,"{'latitude': '40.78517106970749', 'longitude':...",WEST 84 STREET,COLUMBUS AVENUE
2,22425059,2011-12-30T09:25:00.000,2011-12-30T13:55:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),NaN,NaN,NaN,...,NaN,NaN,UNKNOWN,Unspecified,QUEENS,NaN,NaN,NaN,GRAHAM CT,26 AVE
3,22415128,2011-12-29T17:13:00.000,2011-12-30T11:00:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10306,263 COLONY AVENUE,COLONY AVENUE,...,958629,147876,UNKNOWN,Unspecified,STATEN ISLAND,40.572524396506175,-74.09222458237058,"{'latitude': '40.572524396506175', 'longitude'...",NaN,NaN
4,22414065,2011-12-29T12:33:00.000,2011-12-30T11:30:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10306,NaN,NaN,...,946267,146214,UNKNOWN,Unspecified,STATEN ISLAND,40.56791819419245,-74.13671306905549,"{'latitude': '40.56791819419245', 'longitude':...",AMBER STREET,THOMAS STREET

In [12]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select all columns, where the descriptor
# is Street Flooding (SJ), sort the created_date in descending order and limit our records to 1,000

query = """
SELECT
    *
WHERE
    descriptor == 'Street Flooding (SJ)'
ORDER BY
    created_date DESC
LIMIT
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 30)

,unique_key,created_date,agency,agency_name,complaint_type,descriptor,incident_zip,incident_address,street_name,cross_street_1,...,park_facility_name,park_borough,latitude,longitude,location,closed_date,resolution_description,resolution_action_updated_date,intersection_street_1,intersection_street_2
0,60929521,2024-04-20T15:32:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11369,31-33 95 STREET,95 STREET,31 AVE,...,Unspecified,QUEENS,40.75969682793435,-73.87361408066782,"{'latitude': '40.75969682793435', 'longitude':...",NaN,NaN,NaN,NaN,NaN
1,60924082,2024-04-19T13:11:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-19T14:50:00.000,The Department of Environmental Protection ins...,2024-04-19T14:50:00.000,NaN,NaN
2,60916417,2024-04-19T04:38:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),11412,NaN,NaN,NaN,...,Unspecified,QUEENS,40.69984449968903,-73.76110166693283,"{'latitude': '40.69984449968903', 'longitude':...",NaN,NaN,NaN,194 STREET,113 AVENUE
3,60905806,2024-04-18T17:20:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-18T17:20:00.000,The Department of Environmental Protection has...,2024-04-18T17:20:00.000,NaN,NaN
4,60908898,2024-04-18T17:05:00.000,DEP,Department of Environmental Protection,Sewer,Street Flooding (SJ),10032,467 WEST 163 STREET,WEST 163 STREET,EDGECOMBE AVE,...,Unspecified,MANHATTAN,40.83622619308992,-73.9386659626889,"{'latitude': '40.83622619308992', 'longitude':...",2024-04-18T19:05:00.000,The Department of Environmental Protection inv...,2024-04-18T19:05:00.000,NaN,NaN

In [13]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the borough and count grouped by borough,
# where the descriptor is Street Flooding (SJ), sort the count in descending order

query = """
SELECT 
    borough, 
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    borough
ORDER BY 
    count DESC
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (7, 2)

         borough  count
0         QUEENS  15202
1       BROOKLYN  10623
2  STATEN ISLAND   7069
3      MANHATTAN   3400
4          BRONX   3160
5    Unspecified     50
6            NaN      4

In [14]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the borough and count grouped by borough having
# more than 5,000 counts, where the descriptor is Street Flooding (SJ),
# sort the count in descending order

query = """
SELECT 
    borough, 
    count(*) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    borough
HAVING 
    count > 5000
ORDER BY 
    count DESC
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (3, 2)

         borough  count
0         QUEENS  15202
1       BROOKLYN  10623
2  STATEN ISLAND   7069

## 5.2 SoQL Function and Keyword Listing

In [15]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=1000
)

# SoQL query string below: select descriptor and count grouped by descriptor,
# where the word "flood" is in descriptor, sort count in descending order and
# limit our records to 1,000

query = """
SELECT 
    descriptor, 
    count(unique_key) AS count
WHERE 
    LOWER(descriptor) LIKE '%flood%'
GROUP BY 
    descriptor
ORDER BY 
    count DESC
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (13, 2)

                                         descriptor   count
0  Catch Basin Clogged/Flooding (Use Comments) (SC)  114676
1                              Street Flooding (SJ)   39508
2                              Flood Light Lamp Out    6517
3                             Highway Flooding (SH)    3156
4                          Flood Light Lamp Cycling    2595
5                                Flooding on Street     673
6                               Ready NY - Flooding     271
7                       Flood Light Lamp Dayburning     228
8                          Flood Light Lamp Missing     212
9                              Flood Light Lamp Dim     185

In [16]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: elect the descriptor, unique_key, borough, and case(borough != 'BRONX'),
# where the descriptor is Street Flooding (SJ), limit our records to 1,000

query = """
SELECT 
    unique_key,
    descriptor,
    borough,
    case(borough != 'BRONX', False, True, True) AS in_bronx
WHERE 
    descriptor == 'Street Flooding (SJ)'
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier, 
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 4)

  unique_key            descriptor    borough  in_bronx
0   60929521  Street Flooding (SJ)     QUEENS     False
1   60924082  Street Flooding (SJ)  MANHATTAN     False
2   60916417  Street Flooding (SJ)     QUEENS     False
3   60905806  Street Flooding (SJ)  MANHATTAN     False
4   60908898  Street Flooding (SJ)  MANHATTAN     False
5   60908899  Street Flooding (SJ)     QUEENS     False
6   60902757  Street Flooding (SJ)     QUEENS     False
7   60908900  Street Flooding (SJ)   BROOKLYN     False
8   60911966  Street Flooding (SJ)     QUEENS     False
9   60898058  Street Flooding (SJ)  MANHATTAN     False

In [17]:
# sanity check
(results_df
 .groupby(by=['borough', 'in_bronx'])['unique_key']
 .count()
)

borough        in_bronx
BRONX          True         57
BROOKLYN       False       251
MANHATTAN      False        72
QUEENS         False       430
STATEN ISLAND  False       190
Name: unique_key, dtype: int64

In [18]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the year truncated and the count columns grouped by year,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_trunc_y(created_date) AS year,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    year
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (15, 2)

                      year count
0  2018-01-01T00:00:00.000  4140
1  2021-01-01T00:00:00.000  3702
2  2023-01-01T00:00:00.000  3485
3  2019-01-01T00:00:00.000  3434
4  2022-01-01T00:00:00.000  3078
5  2011-01-01T00:00:00.000  2644
6  2017-01-01T00:00:00.000  2532
7  2010-01-01T00:00:00.000  2531
8  2014-01-01T00:00:00.000  2498
9  2016-01-01T00:00:00.000  2262

In [19]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the year month truncated and the count columns grouped by year month,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_trunc_ym(created_date) AS year_month,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    year_month
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (172, 2)

                year_month count
0  2021-09-01T00:00:00.000  1035
1  2023-09-01T00:00:00.000   932
2  2018-11-01T00:00:00.000   710
3  2021-08-01T00:00:00.000   595
4  2024-03-01T00:00:00.000   576
5  2022-12-01T00:00:00.000   530
6  2017-05-01T00:00:00.000   524
7  2021-07-01T00:00:00.000   499
8  2011-08-01T00:00:00.000   497
9  2016-02-01T00:00:00.000   490

In [20]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the year month day and the count columns grouped by year month day,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_trunc_ymd(created_date) AS year_month_day,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    year_month_day
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (1000, 2)

            year_month_day count
0  2023-09-29T00:00:00.000   623
1  2021-09-02T00:00:00.000   350
2  2021-09-01T00:00:00.000   344
3  2022-12-23T00:00:00.000   308
4  2017-05-05T00:00:00.000   247
5  2014-12-09T00:00:00.000   226
6  2014-04-30T00:00:00.000   189
7  2021-10-26T00:00:00.000   177
8  2018-04-16T00:00:00.000   163
9  2013-05-08T00:00:00.000   162

In [21]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the year and the count columns grouped by year,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_y(created_date) AS year,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    year
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (15, 2)

   year count
0  2018  4140
1  2021  3702
2  2023  3485
3  2019  3434
4  2022  3078
5  2011  2644
6  2017  2532
7  2010  2531
8  2014  2498
9  2016  2262

In [22]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the month and the count columns grouped by month,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_m(created_date) AS month,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    month
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (12, 2)

  month count
0     9  4102
1     5  4081
2     7  3710
3     8  3631
4    12  3333
5     6  3235
6     3  3203
7     4  3072
8    10  2974
9     2  2907

In [23]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the day and the count day columns grouped by day,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_d(created_date) AS day,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    day
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (31, 2)

  day count
0  29  1930
1   2  1696
2   1  1694
3  23  1689
4  30  1620
5  13  1540
6   9  1501
7  25  1437
8  18  1428
9  16  1407

In [24]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the week of year and the count columns grouped by week of year,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_woy(created_date) AS week_of_year,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    week_of_year
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (53, 2)

  week_of_year count
0           39  1405
1           18  1337
2           35  1187
3           33  1109
4           30  1077
5           51  1052
6           50   899
7           32   889
8           23   880
9           10   875

In [25]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the day of week and the count columns grouped by day of week,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_dow(created_date) AS day_of_week,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    day_of_week
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (7, 2)

  day_of_week count
0           5  7086
1           2  6663
2           1  6523
3           3  6278
4           4  6051
5           0  3457
6           6  3450

In [26]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the hour and the count columns grouped by hour,
# where the descriptor is Street Flooding (SJ), and sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_hh(created_date) AS hour,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    hour
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (24, 2)

  hour count
0   11  3363
1    9  3336
2   10  3300
3   12  3006
4   15  2895
5   14  2833
6   16  2771
7   13  2770
8    8  2518
9   17  2197

In [27]:
socrata_domain = 'data.cityofnewyork.us'
socrata_dataset_identifier = 'erm2-nwe9'

client = Socrata(
    socrata_domain,
    app_token=None,
    timeout=100
)

# SoQL query string below: select the minute and the count columns grouped by minute,
# where the descriptor is Street Flooding (SJ), sort the count in descending order and
# limit our records to 1,000

query = """
SELECT 
    date_extract_mm(created_date) AS minute,
    count(unique_key) AS count
WHERE 
    descriptor == 'Street Flooding (SJ)'
GROUP BY 
    minute
ORDER BY 
    count DESC    
LIMIT 
    1000
"""

results = client.get(
    socrata_dataset_identifier,
    query=query
)
client.close()

results_df = pd.DataFrame.from_records(results)

print('shape of data: {}'.format(results_df.shape))
results_df.head(10)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

shape of data: (60, 2)

  minute count
0     44   913
1     29   897
2     35   890
3     23   884
4     32   880
5     38   876
6     56   872
7     47   870
8     14   862
9      2   856